.section-persons {
    background-color: #f7f7f7;
    padding-bottom: 60px;
}

table {
    background-color: white;
    border-color: blue;
}

td, tr, table {
    border-color: blue;
}

.section-companies {
    background-color: #e7e7e7;
    padding-bottom: 60px;
}

.nav li a {
    color: white !important;
}

.navbar-header a {
    color: white !important;
}

.navbar-inverse {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #337AB7;
    border: none;
}

.footer {
    background-color: #337AB7;
    height: 100px;
}

.section-index {
    margin-bottom: 350px;
}