.section-persons {
    background-color: #f7f7f7;
    padding-bottom: 60px;
}

table {
    background-color: white;
    border-color: blue;
}

td, tr, table {
    border-color: blue;
}

.section-companies {
    padding-bottom: 60px;
}

.nav li a {
    color: white !important;
}

.navbar-header a {
    color: white !important;
}

.navbar-inverse {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #337AB7;
    border: none;
}

.footer {
    background-color: #337AB7;
    min-height: 100px;
}

.section-index {
    margin-bottom: 60px;
}

.section-persons {
}

tbody tr:hover {
    background-color: #d6ecff !important;
}

thead {
    background-color: #337AB7;
}

thead th {
    color: white;
}

tbody {
    border: 1px solid #337AB7;
}

.list-group-item-action:hover {
    background-color: #d6ecff !important;
}

footer p {
    color: white;
    margin-bottom: 10px;
}

footer h4 {
    color: white;
    font-weight: 600;
    margin-bottom: 15px;
}